/* Add here all your css styles (customizations) */
.bluetag
{
   /* background-color: #7fb2ff;
    height:40px;
    margin-top: 23px;
    overflow: hidden;*/
}
.anchortag
{
    background-color: #7fb2ff;padding-right: 10px;padding-left: 10px;;border-radius: 10px;
    color: #f1ff0a;
   /* color: #f1ff0a;
    margin-top: -25px;
    overflow: hidden;*/
}
.x {
    color: #313100;
    padding-right: 10px;padding-left: 10px;
    border: 0px;


}
.x:hover
{
    background-color: #7fb2ff;
    color: #f1ff0a;

}
/*.dropdown:hover{
    background-color: #7fb2ff;
    color: #f1ff0a;

}*/
